@use "./../../../../styles/functions" as funs;
@use "./../../../../styles/variables" as vars;
@use "./../../../../styles/break-points" as bp;
.sidebar {
  width: fit-content;
  .inner-sidebar {
    margin-right: funs.pxToRem(72);
    .close-btn {
      display: none;
    }
  }
}
ul {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
  .sidebar-link {
    text-decoration: none;
    font-weight: bold;
    color: vars.$sidebarTextColor;
    padding: funs.pxToRem(12);
    display: inline-block;
    border-radius: 10px;
    white-space: nowrap;
    i {
      color: vars.$mainColor;
      margin-right: funs.pxToRem(35);
      font-size: funs.pxToRem(20);
    }
    .logout-icon {
      background-color: vars.$mainColor;
      color: white;
      margin-right: funs.pxToRem(35);
      padding-right: funs.pxToRem(5);
      border-radius: 3px;
    }
  }
}
.logo-img {
  width: funs.pxToRem(151);
  height: funs.pxToRem(29);
  background-color: black;
  color: black;
}
@media only screen and (max-width: bp.$md) {
  .sidebar {
    display: none;
  }
  .close-btn {
    display: block;
  }
  .inner-sidebar {
    background-color: white;
    margin-right: 0;
    padding: funs.pxToRem(16);
    margin-top: funs.pxToRem(62);
  }
  .show-sidebar {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
  }
}
