<div class="global-style-auth-comps">
    <h2 class="my-4 fw-bold">Sign up</h2>
    <form class="form">
        <div>
            <input type="text" class="form-control" placeholder="First Name">
        </div>
        <div>
            <input type="text" class="form-control" placeholder="Last Name">
        </div>
        <div>
            <input type="email" class="form-control" placeholder="Email">
        </div>
        <div class="position-relative">
            <input type="password" class="form-control" placeholder="Password">
            <img src="./images/fluent_eye-20-filled.png" alt
                class="eye-img">
        </div>

        <div class="position-relative">
            <input type="password" class="form-control"
                placeholder="Confirm Password">
            <img src="./images/fluent_eye-20-filled.png" alt
                class="eye-img">
        </div>
    </form>
    <p class="my-3 text-center my-4">Already have an account? <a
            routerLink="/signin"
            class="text-main-color fw-medium text-decoration-none">Login</a></p>
    <app-submit-btn>Create Account</app-submit-btn>

</div>