@use "./../../../../styles/functions" as funs;
@use "./../../../../styles/variables" as vars;
@use "./../../../../styles/break-points" as bp;
main {
  height: 100vh;
  padding: funs.pxToRem(40) funs.pxToRem(80) 0 funs.pxToRem(32);
  background-color: vars.$bgMainColor;
  display: flex;
  section {
    flex-grow: 1;
  }
}
@media only screen and (max-width: bp.$md) {
  main {
    padding: 0;
  }
}
