@use "./../../../../../styles/functions" as funs;
@use "./../../../../../styles/variables" as vars;
@use "./../../../../../styles/break-points" as bp;

section {
  padding: funs.pxToRem(16) funs.pxToRem(32);
  background-color: white;
  box-shadow: 0px 15px 40px 0px #0000000d;
  border-radius: 20px;
  button {
    color: vars.$mainColor;
    font-size: funs.pxToRem(24);
    display: inline-block;
    margin-bottom: funs.pxToRem(24);
    border: none;
    background-color: white;
    &:hover {
      color: vars.$mainColor;
    }
  }
  .view-all {
    cursor: pointer;
    text-decoration: none;
    margin-left: auto;
  }
}
@media only screen and (max-width: bp.$md) {
  section {
    padding: funs.pxToRem(16) funs.pxToRem(32);
  }
}
