<div
    class="global-style-auth-comps mt-5 d-flex flex-column justify-content-center">
    <h2 class="my-4 fw-bold">Forgot Your Password</h2>
    <form [formGroup]="verifyCodeForm"
        (ngSubmit)="submitForm()">
        <div class="form">
            <div>
                <input type="tel" class="form-control" placeholder="Enter Code"
                    formControlName="resetCode">
                <app-validation-messages
                    [control]="verifyCodeForm.get('resetCode')!"
                    inputName="resetCode"></app-validation-messages>
            </div>
        </div>
        <div class="text-end mt-2">Didn’t receive a code? <a
                (click)="resendCode()"
                class="text-main-color text-decoration-none cursor-pointer">Resend</a></div>
        <div class="my-5">
            <app-submit-btn
                [isSubmited]="isFormSubmited">Verify</app-submit-btn>
        </div>
    </form>

</div>
