<div
    class="global-style-auth-comps mt-5 d-flex flex-column justify-content-center">
    <h2 class="my-4 fw-bold">Forgot Your Password</h2>
    <form class="form">
        <div>
            <input type="email" class="form-control" placeholder="Enter Code">
        </div>
    </form>
    <div class="text-end mt-2">Didn’t receive a code? <a
            class="text-main-color text-decoration-none">Resend</a></div>
    <div class="my-5">
        <app-submit-btn>Verify</app-submit-btn>
    </div>
</div>
