<nav>
    <ul class="list-unstyled d-flex gap-4 justify-content-end">
        <li class="dropdown">
            <button class="dropdown-toggle bg-transparent border-0"
                type="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                English
            </button>
            <ul class="dropdown-menu">
                <li><button class="dropdown-item"
                        type="button">English</button></li>
                <li><button class="dropdown-item"
                        type="button">Arabic</button></li>
            </ul>
        </li>
        <li><a class="signin-btn" routerLink="/signin">Sign
                in</a></li>
        <li><a
                class="register-btn" routerLink="/register">Register</a></li>
    </ul>
</nav>