<div
    class="global-style-auth-comps mt-5 d-flex flex-column justify-content-center">
    <h2 class="my-4 fw-bold">Forgot Your Password</h2>
    <form [formGroup]="forgotPasswordForm"
        (ngSubmit)="submitForm()">
        <div class="form">
            <div>
                <input type="email" class="form-control"
                    placeholder="Enter Email"
                    formControlName="email">
                <app-validation-messages
                    [control]="forgotPasswordForm.get('email')!"
                    inputName="email"></app-validation-messages>
            </div>
        </div>
        <div class="text-end mt-3"><a routerLink="/forgotPassword/verify"
                class="text-main-color text-decoration-none">Recover
                Password ?</a></div>
        <div class="mt-5">
            <app-submit-btn [isSubmited]="isFormSubmited">Sign
                In</app-submit-btn>
        </div>
    </form>

</div>
