<div
    class="global-style-auth-comps mt-5 d-flex flex-column justify-content-center">
    <h2 class="my-4 fw-bold">Forgot Your Password</h2>
    <form class="form" [formGroup]="forgotPasswordForm"
        (ngSubmit)="submitForm()">
        <div>
            <input type="email" class="form-control" placeholder="Enter Email"
                formControlName="email">
            <app-validation-messages
                [control]="forgotPasswordForm.get('email')!"
                inputName="email"></app-validation-messages>
        </div>
    </form>
    <div class="text-end mt-2"><a routerLink="/forgotPassword/verify"
            class="text-main-color text-decoration-none">Recover
            Password ?</a></div>
    <div class="my-5" [class.opacity-50]="isFormSubmited">

        <app-submit-btn
            (click)="submitForm()">

            @if(isFormSubmited){
            <div class="spinner-border text-light" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            }@else{
            Sign In
            }</app-submit-btn>

    </div>
</div>
