<div
    class="global-style-auth-comps mt-5 d-flex flex-column justify-content-center">
    <h2 class="my-4 fw-bold">Forgot Your Password</h2>
    <form class="form">
        <div>
            <input type="email" class="form-control" placeholder="Enter Email">
        </div>
    </form>
    <div class="text-end mt-2"><a routerLink="/forgotPassword"
            class="text-main-color text-decoration-none">Recover
            Password ?</a></div>
    <div class="my-5">
        <app-submit-btn>Sign in</app-submit-btn>
    </div>
</div>
