%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-align($justify-content-v, $align-items-v) {
  display: flex;
  justify-content: $justify-content-v;
  align-items: $align-items-v;
}
