@if(userAnswers.length){
<div class="question-card">
    <div class="d-flex justify-content-between">
        <p class="nubmer-of-questions">Question {{currentQuestionIndex+1}} of
            {{userAnswers.length}}</p>
        <p class="duration" [class.almost-done]="durationCounter < 10"><img
                src="./images/alarm.png"
                alt> {{`
            ${durationCounter < 10 ?
            `0${durationCounter}`:durationCounter}.${minute < 10?
            `0${minute}`:minute}
            `}}</p>
    </div>
    <div class="questions-steps">
        @for (item of answerdQuestionsStepsArr; track $index) {
        <span class="answerd"></span>
        }
        @for (item of notAnswerdQuestionsStepsArr; track $index) {
        <span></span>
        }
    </div>
    <div class="question">
        {{userAnswers[currentQuestionIndex].question}}
    </div>
    <form [formGroup]="formAnswer">
        <div class="choices">
            @for (answer of userAnswers[currentQuestionIndex].answers; track
            $index)
            {
            <div class="choice">
                @if(userAnswers[currentQuestionIndex].type == 'single_choice'){
                <input value="{{answer.key}}" formControlName="userAnswer"
                    (change)="setUserAnswer()"
                    [checked]="answer.key == userAnswers[currentQuestionIndex].userAnswer"
                    type="radio"
                    name="userAnswer" [id]="answer.key">
                }@else {
                <input value="{{answer.key}}" formControlName="userAnswer"
                    (change)="setUserAnswer()"
                    [checked]="answer.key == userAnswers[currentQuestionIndex].userAnswer"
                    type="checkbox"
                    name="userAnswer" [id]="answer.key">
                }
                <label
                    [for]="answer.key">{{answer.answer}}</label>
            </div>
            }
        </div>
        <div class="questions-btns">
            <button type="button" [class]="{
                    'disabled-btn':currentQuestionIndex == 0,
                    'back-btn':currentQuestionIndex != 0,
                }" (click)="back()"
                [disabled]="currentQuestionIndex == 0">Back</button>

            <button type="button" [class]="{
                'disabled-btn':userAnswers[currentQuestionIndex].userAnswer == '',
                'next-and-show-result-btn':userAnswers[currentQuestionIndex].userAnswer != ''
            }"
                [disabled]="userAnswers[currentQuestionIndex].userAnswer == ''"
                (click)="nextOrSubmit()">
                @if(currentQuestionIndex +1 === userAnswers.length){
                Submit
                }@else {
                next
                }
            </button>

        </div>
    </form>
</div>

}