<section class="parent-ele container-fluid" (click)="onDocumentClick($event)"
    [class]="{
    'show-input-sec':sidebarInputSearchService.isSearchInputOpened|async,
    'hide-input-sec':sidebarInputSearchService.isSearchInputOpened|async,
}">
    <div class="row align-items-stretch flex-grow-1 justify-content-center">
        <div class="col-9 col-md-8 align-self-center">
            <div class="input-ele">
                <i class="bi bi-search search-icon"></i>
                <input type="text" class="form-control"
                    placeholder="Search Quiz">
            </div>
        </div>
        <div class="col-3 col-md-2 align-self-center">
            <app-submit-btn class="w-100">Start Quiz</app-submit-btn>
        </div>
        <div class="col-2 align-self-center">
            <div class="img">
                <img src="./images/ashraf.jpg" class="w-100" alt>
            </div>
        </div>
    </div>
</section>
