<div class="global-style-auth-comps mt-5">
    <h2 class="my-4 fw-bold">Sign in</h2>
    <form class="form" [formGroup]="loginForm" (ngSubmit)="submitForm()">
        <div>
            <input type="email" class="form-control" placeholder="Email"
                formControlName="email">
            <app-validation-messages
                [control]="loginForm.get('email')!"
                inputName="email"></app-validation-messages>
        </div>
        <div>
            <div class="position-relative">
                <input type="{{isShowPassword? 'text':'password'}}"
                    formControlName="password"
                    class="form-control" placeholder="Password">
                <img src="./images/fluent_eye-20-filled.png" alt
                    (click)="showAndHidePassword()"
                    class="eye-img">
            </div>
            <app-validation-messages
                [control]="loginForm.get('password')!"
                inputName="password"></app-validation-messages>
        </div>
        <div class="text-end "><a
                class="text-decoration-none text-main-color"
                routerLink="/forgotPassword">Recover Password ?</a></div>
        <div class="mt-2">
            <app-submit-btn [isSubmited]="isFormSubmited"> Sign
                In</app-submit-btn>
        </div>
    </form>

</div>