<section class="container-fluid">
    <div class="row">
        <div class="col-8 col-lg-10 d-flex align-items-center">
            <div class="quiz-img">
                <img src="./images/quizesPlaceholderImg.png" alt class="w-100">
            </div>
            <div class="quiz-info">
                <h6>{{quiz.title}}</h6>
                <p>{{quiz.numberOfQuestions}} Question</p>
            </div>
        </div>
        <div
            class="col-4 col-lg-2">
            <div class="start-quiz-sec">
                <p>{{quiz.duration}} Minute</p>
                <button (click)="startQuiz.emit(quiz._id)">Strat</button>
            </div>
        </div>
    </div>
</section>
