<div
    class="global-style-auth-comps mt-5 d-flex flex-column justify-content-center">
    <h2 class="my-4 fw-bold">Set a Password</h2>
    <form class="form">
        <div class="position-relative">
            <input type="password" class="form-control"
                placeholder="Create Password">
            <img src="./images/fluent_eye-20-filled.png" alt
                class="eye-img">
        </div>
        <div class="position-relative">
            <input type="password" class="form-control"
                placeholder="Re-enter Password">
            <img src="./images/fluent_eye-20-filled.png" alt
                class="eye-img">
        </div>
    </form>
    <div class="my-5">
        <app-submit-btn>Sign in</app-submit-btn>
    </div>
</div>
