<div
    class="global-style-auth-comps mt-5 d-flex flex-column justify-content-center">
    <h2 class="my-4 fw-bold">Set a Password</h2>
    <form class="form" [formGroup]="setAPasswordForm"
        (ngSubmit)="submitForm()">
        <div>
            <div class="position-relative">
                <input type="{{isShowPassword?'text':'password'}}"
                    class="form-control"
                    formControlName="newPassword"
                    placeholder="Create A New Password">
                <img src="./images/fluent_eye-20-filled.png" alt
                    (click)="showAndHidePassword()"
                    class="eye-img">
            </div>
            <app-validation-messages
                [control]="setAPasswordForm.get('newPassword')!"
                inputName="newPassword"></app-validation-messages>
        </div>
    </form>
    <div class="my-5" [class.opacity-50]="isFormSubmited">
        <app-submit-btn
            (click)="submitForm()">
            @if(isFormSubmited){
            <div class="spinner-border text-light" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            }@else{
            Sign In
            }</app-submit-btn>
    </div>
</div>
